/* Resets */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root {
  isolation: isolate;
}

/* Variables */
:root {
  --green-50: #eefae8;
  --green-100: #caefb7;
  --green-200: #b1e794;
  --green-300: #8ddb63;
  --green-400: #77d545;
  --green-500: #55ca16;
  --green-600: #4db814;
  --green-700: #3c8f10;
  --green-800: #2f6f0c;
  --green-900: #245509;

  --clr-red: #c41414;
  --title-green: var(--green-600);
  --bg-deemphasized: #f2f4f7;
  --bg-deemphasized-btn: #f0f0f0;
  --bg-deemphasized-icon: hsl(257, 14%, 90%);

  --purple: #8b0c8b;

  --clr-body: #211e23;
  --clr-caption: hsl(0, 0%, 35%);

  --fs-body: 0.9375rem;
  --fs-caption: 0.875rem;
  --fs-form-error: 0.875rem;

  --gap-small: 0.5rem;

  --border-rad-input: 6px;
  --border-rad-button: 6px;

  --box-shadow-100: 0 1px 2px 1px hsl(0 0 0 / 0.1);
  --box-shadow: 0 1px 5px 1px hsl(0 0 0 / 0.1);

  --bg-overlay-light: hsl(0 0 100 / 0.5);
}

/* Global */
body {
  background-color: var(--bg-deemphasized);
  font-family: sans-serif;
  font-size: var(--fs-body);
  color: var(--clr-body);
  line-height: 1.34;
}

#root {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  height: 100svh;
}

svg,
img {
  display: block;
  width: 100%;
}

/* Utility Classes */
.h-100v {
  height: 100svh;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--bg-overlay-light);
  overflow-y: scroll;
}

.custom-placeholder {
  color: var(--clr-caption);
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-input-wrapper {
  position: relative;
}

.close-overlay {
  padding: 0.25rem;
  border: none;
  border-radius: 50vh;
  background-color: gray;
  color: var(--bg-deemphasized);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.close-overlay:hover,
.close-overlay:focus {
  background-color: rgb(153, 153, 153);
}

/* Blocks */
.banner {
  z-index: 2;
}

.navbar {
  display: flex;
  background-color: #fff;
  margin-top: 0.35rem;
  border-inline: 2px solid var(--green-700);
  box-shadow: var(--box-shadow);
}

.profile-edit {
  background-color: #fff;
  max-width: 700px;
  margin: 4rem auto;
  box-shadow: var(--box-shadow);
}

.edit-form {
  display: grid;
  gap: 0.25rem;
  min-width: 300px;
  margin-block: 1.5rem;
  justify-self: center;
}

.chats-grid {
  display: flex;
  height: calc(100vh - 100.47px);
}

.chats {
  background-color: #fff;
  max-width: 22.5rem;
  padding: 1rem 0.25rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-empty {
  max-width: fit-content;
  padding: 3rem 0.5rem 3rem;
  margin: auto;
  background: linear-gradient(
    to bottom,
    var(--green-800) 20%,
    var(--green-900)
  );
  box-shadow: var(--box-shadow);
  color: var(--green-50);
  position: relative;
}

.chat-empty::after {
  content: "";
  background-color: var(--green-800);
  height: 5px;
  position: absolute;
  top: 0;
  inset-inline: -150px;
}

.message-block {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #fff;
  margin: 1rem;
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-rad-button);
}

.message-block-empty-msg {
  justify-self: center;
  align-self: center;
  margin-top: 5rem;
  padding: 1rem;
  background-color: lightslategrey;
  box-shadow: var(--box-shadow);
  color: var(--bg-deemphasized);
}

.receiver {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small);
  padding: 2rem 1rem;
}

.message {
  --_bg: rgb(224, 224, 224);
  --_clr: var(var(--green-900));
  display: grid;
  justify-items: start;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.message.sent {
  --_bg: var(--purple);
  --_clr: var(--green-50);
}

.message-area {
  position: relative;
  display: grid;
}

.message-input {
  background-color: var(--bg-deemphasized);
  padding: 0.5rem 1rem;
  border-radius: 18px;
  margin: 0;
}

.message-input:focus {
  outline: none;
}

.message-placeholder {
  color: var(--clr-caption);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Elements */
.navbar__link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: hsl(300, 40%, 45%);
  font-weight: 600;
}

.navbar__link:hover,
.navbar__link:focus {
  outline: none;
  background-color: var(--bg-deemphasized-btn);
}

.navbar__link.inbox:hover {
  background-color: transparent;
}

.profile-edit__title {
  width: 100%;
  padding-block: 0.75rem;
  border-bottom: 1px solid var(--bg-deemphasized-icon);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.profile-edit__block {
  display: grid;
  padding-bottom: 2rem;
  padding: 1rem;
}

.profile-edit__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-edit__heading {
  font-size: 1.2rem;
}

.profile-edit__picture {
  min-width: 150px;
  border-radius: 50vh;
  justify-self: center;
  overflow: hidden;
}

.profile-edit__name {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  padding-inline: 1rem;
}

.profile-edit__bio {
  max-width: fit-content;
  margin: auto;
  padding-inline: 1rem;
}

.edit-form__textarea {
  background-color: var(--bg-deemphasized);
  border: 1px solid var(--bg-deemphasized-icon);
  padding: 0.75rem;
  word-break: break-all;
}

.edit-form__textarea:focus {
  outline: none;
  background-color: #fff;
  border-color: var(--clr-body);
}

.edit-form__char-limit {
  justify-self: end;
  font-size: var(--fs-caption);
  color: var(--clr-caption);
}

.edit-form__btns {
  display: flex;
  gap: 0.75rem;
  justify-self: end;
}

.chat__link {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 0 0.75rem;
  padding: 0.5rem;
  border-radius: var(--border-rad-button);
  text-decoration: none;
  color: inherit;
}

.chat__link:hover,
.chat__link:focus {
  outline: none;
  background-color: var(--bg-deemphasized-btn);
}

.chat__link__img {
  width: 60px;
  border-radius: 50vh;
  overflow: hidden;
}

.chat__link__title {
  display: inline-block;
  width: calc(100% - 20px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.chat__link__caption {
  display: flex;
  font-size: var(--fs-caption);
  color: var(--clr-caption);
}

.chat__link__last-msg {
  flex: 1;
  display: inline-block;
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-block__header {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow-100);
  position: sticky;
  top: 0;
}

.message-block__header__img {
  width: 2.75rem;
}

.receiver__img {
  width: 58px;
  border-radius: 50vh;
  overflow: hidden;
}

.message-block__messages {
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow-y: scroll;
}

.message-block__messages__list {
  max-width: 43.75rem;
  margin: auto;
  padding: 1.5rem 1rem;
}

.message__name {
  margin-left: 1rem;
  font-size: var(--fs-caption);
  color: var(--clr-caption);
}

.message__content {
  background-color: var(--_bg);
  padding: 0.5rem 0.75rem;
  border-radius: 18px 10px 18px 3px;
  min-width: 10rem;
  max-width: 28rem;
  color: var(--_clr);
  position: relative;
}

.message.sent .message__content {
  justify-self: end;
  border-radius: 10px 18px 3px 18px;
}

.message__date {
  background-color: var(--green-700);
  width: max-content;
  padding: 0.5rem 0.75rem;
  border-radius: 50vh;
  font-size: var(--fs-caption);
  color: var(--bg-deemphasized);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100%);
  opacity: 0;
  transition: opacity 100ms ease-in 300ms;
}

.message.sent .message__date {
  left: auto;
  right: 100%;
}

.message__content:hover .message__date {
  opacity: 1;
}

.message-block__footer {
  background-color: #fff;
  padding: 0.5rem 1rem;
  position: sticky;
  bottom: 0;
}

/* Media Queries */
@media (max-width: 300px) {
  .chat__link__date {
    display: none;
  }
}
